body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container {
    background-color: #b3d6bf;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #7ba793fa;
    width: 60%;
    margin: auto;
}

h1 {
    text-align: center;
}

.instructions {
    margin-bottom: 30px;
}

/* Center the button container and add space between buttons */
.button-container {
    display: flex;
    justify-content: center;  /* Center the buttons horizontally */
    gap: 20px;  /* Add space between the buttons */
    margin-top: 20px;  /* Optional: add margin to the top */
}

.button {
    padding: 10px 20px;
    background-color: #4e9292;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

.button:hover {
    background-color: #35787e;
}

.result {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}